.diet {
    &__content {
        padding-bottom: 137px;
        margin: 0 auto;
        max-width: 1182px;
        width: 100%;
    }
    &__title {
        margin-bottom: 40px;
        font-size: 30px;
        text-transform: uppercase;
        font-family: "RB";
        color: #333333;
    }
    &__list {
        display: flex;
        gap: 21px;
    }
    &__item {
        width: 280px;
        &-img {
            margin-bottom: 18px;
        }
        &-name {
            margin-bottom: 17px;
            display: inline-block;
            font-family: "REB";
            font-size: 18px;
            line-height: 20px;
            text-transform: uppercase;
            color: #333333;
        }
        &-descr {
            margin-bottom: 12px;
            font-size: 14px;
            line-height: 20px;
        }
        &-kcal {
                    margin-bottom: 11px;
            font-size: 14px;
            line-height: 23px;
            color: #777777;
        }
        &-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-price {
            font-family: "RB";
            font-size: 20px;
            line-height: 23px;
        }
        &-button {
            font-family: "RB";
            height: 35px;
            width: 136px;
            border-radius: 10px;
            background-color: #6CB71D;
            color: white;
        }
    }
}
