@font-face {
    font-family: 'RR';
    src: url('../../public/font/Roboto-Regular.eot') format('embedded-opentype'),
        url('../../public/font/Roboto-Regular.woff2') format('woff2'),
        url('../../public/font/Roboto-Regular.woff') format('woff'),
        url('../../public/font/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RB';
    src: url('../../public/font/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../public/font/Roboto-Bold.woff2') format('woff2'),
        url('../../public/font/Roboto-Bold.woff') format('woff'),
        url('../../public/font/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'REB';
    src: url('../../public/font/Roboto-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../../public/font/Roboto-ExtraBold.woff2') format('woff2'),
        url('../../public/font/Roboto-ExtraBold.woff') format('woff'),
        url('../../public/font/Roboto-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
