.intro {

    &__content {
        margin: 0 auto;
        max-width: 1920px;
        min-width: 320px;
        width: 100vw;
        height: 700px;
        position: relative;

        @media (max-width: 1220px) {
            height: 600px;
        }

        @media (max-width: 768px) {
            height: 500px;
        }

        @media (max-width: 425px) {
            height: 400px;
        }
    }

    &__info {
        margin-top: 208px;
        margin-left: 18.8%;
        width: 430px;

        @media (max-width: 1220px) {
            margin-top: 150px;
            margin-left: 13%;
        }

        @media (max-width: 1024px) {
            margin-top: 140px;
            margin-left: 8%;
        }

        @media (max-width: 768px) {
            margin-top: 120px;
            width: 380px;
        }

        @media (max-width: 425px) {
            margin-top: 60px;
            margin-left: 0;
            width: 100%;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__title {
        font-family: "RR";
        margin-bottom: 18px;
        font-size: 20px;
        line-height: 40px;
        text-transform: uppercase;
        color: white;

        @media (max-width: 768px) {
            font-size: 18px;
            line-height: 24px;
        }


        span {
            font-size: 64px;
            line-height: 64px;
            font-family: "REB";

            @media (max-width: 768px) {
                font-size: 50px;
                line-height: 50px;
            }

            @media (max-width: 425px) {
                font-size: 45px;
                line-height: 45px;
            }
        }

        &-white {
            color: white;

            &:last-of-type {
                font-size: 36px;
                line-height: 50px;

                
                @media (max-width: 425px) {
                    font-size: 30px;
                    line-height: 40px;
                }
            }
        }

        &-green {
            color: #6CB71D;
        }
    }

    &__button {
        display: inline-block;
        font-family: "RB";
        height: 44px;
        width: 175px;
        line-height: 44px;
        border-radius: 10px;
        background-color: #6CB71D;
        color: white;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s linear;

        &:hover, &:visited {
            color: white;
        }

        &:active {
            transition: all 0.1s linear;
            transform: scale(0.9);
        }

        @media (max-width: 425px) {
            width: 100%;
            height: 50px;
            line-height: 50px;
            font-size: 20px;
        }
    }

    .swiper {
        height: 100%;
        width: 100%;
    }

    .swiper-slide {
        background: url(/public/img/intro-bg.jpg) center/ cover;
        background-attachment: fixed;

        @media (max-width: 768px) {
            background: url(/public/img/intro-bg.jpg) 30% center/ cover;
        }

        @media (max-width: 425px) {
            background: url(/public/img/intro-bg.jpg) left center/ cover;
        }
    }

    .swiper-button-prev {
        position: absolute;
        z-index: 2;
        top: 311px;
        left: 4%;
        cursor: pointer;

        @media (max-width: 1220px) {
            top: 240px;
            left: 2%;
        }

        @media (max-width: 1024px) {
            display: none;
        }
    }
    
    .swiper-button-next {
        position: absolute;
        z-index: 2;
        top: 311px;
        right: 4%;
        transform: rotateZ(180deg);
        transform-origin: 50%;
        cursor: pointer;

        @media (max-width: 1220px) {
            top: 240px;
            right: 2%;
        }

        @media (max-width: 1024px) {
            display: none;
        }
    }

    .swiper-pagination {
        position: absolute;
        z-index: 2;
        transform: translateX(-50%);
        left: 50%;
        bottom: 50px;
        display: flex;
        gap: 13px;
    }

    .swiper-pagination-bullet {
        display: inline-block;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        border: 2px solid white;

        &-active {
            background-color: white;
        }
    }
}

